@import "reset.css";

:root {
  --input-text-color: #222;
  --normal-text-color: #444;
  --white-text-color: #f6f6f6;
  --footer-background: #555;
  --desc-background: #fffffe;
  --desc-border-color: #8bc34a;
  --gray-color: #ccc;
  --submit-background: #ffc107;
  --err-text-color: #f3f3f3;
  --err-background: #ce3505;
  --highlight-color: #ffcd9b;
  --highlight-border: #ff9933;
}
body {
  background-color: #faffe4;
}
